[Unit]
Description=Wireguard configuration distribution (client)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all

ProtectSystem=strict
PrivateDevices=yes
PrivateTmp=no
ReadWritePaths=/tmp
ProtectKernelTunables=yes
ProtectControlGroups=yes

ExecStart=/usr/local/bin/wireguard-config-client --group %i

Restart=on-abnormal
RestartSec=15s

EnvironmentFile=-/etc/wireguard/client.conf
EnvironmentFile=/etc/wireguard/client.%i.conf

[Install]
WantedBy=multi-user.target
