[Unit]
Description=Wireguard configuration distribution (client)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all

ProtectSystem=strict
PrivateDevices=yes
PrivateTmp=no
ReadWritePaths=/tmp
ReadWritePaths=/etc/hosts
ProtectKernelTunables=yes
ProtectControlGroups=yes

ExecStartPre=!/usr/bin/env bash '/usr/local/libexec/ensure-kmod.sh' wireguard
ExecStart=/usr/local/bin/wireguard-config-client

Restart=on-abnormal
RestartSec=15s

EnvironmentFile=/etc/wireguard/client.conf

[Install]
WantedBy=multi-user.target
