[Unit]
Description=Wireguard configuration distribution server and client auto update timer
Wants=network-online.target

[Timer]
OnUnitActiveSec=12h
OnActiveSec=5min

[Install]
WantedBy=timers.target
